# dependencies
/node_modules

# next.js build output
/.next/
/out/

# production
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.development
.env.production

# misc
.DS_Store
*.pem

# debug
*.log

# IDE files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
node_modules
